* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.2rem;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.main {
  background-color: #daeacb;
  color: #000;
  gap: 22px;
  padding: 22px;
  display: flex;
  min-width: 400px;
  align-items: center;
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result {
  background-color: #fc9664;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin: 0 10px;
  padding: 5px;
  text-align: center;
}

.player {
  font-weight: bold;
  margin: 0;
  grid-column-end: 3;
  grid-column-start: 1;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
  text-shadow: 1px 1px 1px #ce5937;
  cursor: pointer;
}

.square:focus {
  outline: none;
}
.play-option{
  display: flex;
  align-items: center;
}
.play-option input{
  margin-left: 10px;
  width: 60px;
  font-size: 1.2 rem
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.main-container{
  border-radius: 10px;
  box-shadow: 3px 3px 8px 2px rgba(154, 166, 175, 0.7);
  display: flex
}
.history {
  padding: 10px;
  overflow-y: auto;
  max-height: 80vh;
}

.history h4 {
  text-align: center;
  margin: 0;
}

.history ul {
  
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: center;
}
.history li{
  list-style: none;
}
.history button {
  border: 1px solid #ce5937;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
}

.restart-btn {
  cursor: pointer;
  border: 1px solid #ce5937;
  border-radius: 4px;
  height: 40px;
}
